@import 'scss/root.scss';
@import 'scss/sections.scss';
@import 'scss/components.scss';
@import 'scss/defaults.scss';
@import 'scss/size.scss';
@import 'scss/effects.scss';


.action-buttons {
    padding: 2.5rem 1rem 1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .button, .link {
        min-width: 150px;
    }

    .button {
        padding: 0.5rem 1rem;
    }
}


.information {
    min-height: 300px;
    margin: 10rem 0;
    width: 100%;

    .text {
        font-size: 1rem;
        text-align: left;
        margin: 2rem 1rem;

        max-width: 800px;
    }
}

.social {
    min-height: 100px;
    padding: 2rem 0 0;

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        
        .icon {
            margin: 0 1rem;
            cursor: pointer;

            svg {
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 3;

                stroke: var(--color-white);
            }

            &:hover {
                svg {
                    stroke: var(--color-pink-dark);
                }
            }
        }
    }
}

form {
    width: 100%;
    margin: 5rem 0;

    max-width: 700px;
    display: inline-block;

    .form {
        &-group {
            width: 100%;

            margin: 1rem 0;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &-input {
            flex: 1;
            position: relative;
            font-size: 1rem;

            &:first-child {
                margin-right: 0.5rem;
            }

            &:last-child {
                margin-left: 0.5rem;
            }

            input {
                width: calc(100% - 2rem);
                
                outline: none;
                border: var(--color-white) 2px solid;
                border-radius: 1rem;

                padding: 0.5rem 1rem;
                color: var(--color-white);

                background-color: var(--color-black);
            }

            label {
                position: absolute;
                top: 0.5rem;
                left: 1rem;

                transition: 400ms ease;
                opacity: 1;

                font-weight: 300;
                text-transform: lowercase;
            }

            input:focus ~ label {
                left: 5rem;
                opacity: 0;
            }

            input:valid ~ label {
                left: 5rem;
                opacity: 0;
            }
        }
    }

    .button {
        padding: 0.5rem 2rem;

        &:last-child {
            margin-left: 1rem;
        }
    }
}

.logo-reveal {
    width: 100%;
    padding: 10vh 0 0;

    .logo {
        width: 100%;
        max-width: 500px;
        display: inline-block;

        svg {
            width: 100%;
            height: auto;

            * {
                transition: 200ms ease;
            }

            path:hover {
                fill: var(--color-green);
            }

            path:hover ~ path {
                fill: var(--color-green);
            }
            
            .stroke-animate:hover {
                stroke: var(--color-pink-dark);
            }

        }
    }
}
@import 'scss/media.scss';