/*
    Root elements
*/
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green: #77C593;
  --color-pink-dark: #ED3572;
  --color-pink-light: #DA68A0;
}

html, body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  position: relative;
  z-index: -10;
  padding: 0;
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.2) 100%);
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}
/* 
    Sections
*/
.visual {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: 4rem 0;
}

.content {
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;
  padding: 2rem 0;
}

header {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  min-height: 100vh;
  z-index: 1;
  height: auto;
  padding: 0 15vw;
  margin: 0;
  text-align: center;
}

footer {
  min-height: 200px;
}

/*
    Components
*/
.textdot {
  font-weight: 300;
  font-size: 3rem;
  padding: 0.25rem;
}

.button {
  padding: 0.5rem 3rem;
  cursor: pointer;
  text-decoration: none;
  border: var(--color-white) 2px solid;
  border-radius: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);
  transition: padding 200ms ease;
}
.button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 3.5rem;
}
.button--green {
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.button--green:hover {
  color: var(--color-white);
  background-color: var(--color-green);
}
.button--shout {
  text-transform: uppercase;
}

.link {
  margin: 0 0.5rem;
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;
}
.link:hover {
  color: var(--color-green);
}

.currency-block {
  background-color: var(--color-white);
  height: 160px;
  min-height: 160px;
  max-height: 160px;
  border-radius: 32px;
  position: relative;
  transition: 400ms ease;
}
.currency-block .sign {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 128px;
  height: 64px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.currency-block .sign b {
  align-self: center;
}
.currency-block .value {
  position: absolute;
  bottom: 24px;
  left: 24px;
  height: 32px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 24px;
  line-height: 32px;
}
.currency-block .value .status--up svg path {
  fill: var(--color-green);
}
.currency-block .value .status--down svg {
  transform: rotate(180deg);
}
.currency-block .value .number {
  font-weight: 600;
  padding: 0;
}
.currency-block .menu {
  position: absolute;
  top: 20px;
  right: 24px;
  padding: 0 0.5rem;
  cursor: pointer;
}

/*
    Defaults
*/
.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0 0;
}
.title--small {
  font-size: 2rem;
}
.title--right {
  text-align: right;
}
.title--left {
  text-align: left;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0 0;
}

div.green {
  background-color: var(--color-green);
}
div.pink {
  background-color: var(--color-pink-dark);
}
div.white {
  background-color: var(--color-white);
}
div.black {
  background-color: var(--color-black);
}

p.green, b.green, a.green, i.green, h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, span.green {
  color: var(--color-green);
}
p.pink, b.pink, a.pink, i.pink, h1.pink, h2.pink, h3.pink, h4.pink, h5.pink, h6.pink, span.pink {
  color: var(--color-pink-dark);
}
p.white, b.white, a.white, i.white, h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, span.white {
  color: var(--color-white);
}
p.black, b.black, a.black, i.black, h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, span.black {
  color: var(--color-black);
}
p.regular, b.regular, a.regular, i.regular, h1.regular, h2.regular, h3.regular, h4.regular, h5.regular, h6.regular, span.regular {
  font-weight: 400;
}
p.bold, b.bold, a.bold, i.bold, h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold, span.bold {
  font-weight: 700;
}
p.light, b.light, a.light, i.light, h1.light, h2.light, h3.light, h4.light, h5.light, h6.light, span.light {
  font-weight: 300;
}
p.semibold, b.semibold, a.semibold, i.semibold, h1.semibold, h2.semibold, h3.semibold, h4.semibold, h5.semibold, h6.semibold, span.semibold {
  font-weight: 600;
}
p.uppercase, b.uppercase, a.uppercase, i.uppercase, h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase, span.uppercase {
  text-transform: uppercase;
}
p.lowercase, b.lowercase, a.lowercase, i.lowercase, h1.lowercase, h2.lowercase, h3.lowercase, h4.lowercase, h5.lowercase, h6.lowercase, span.lowercase {
  text-transform: lowercase;
}

.pd-1 {
  padding: 0.25rem;
}
.pd-2 {
  padding: 0.5rem;
}
.pd-3 {
  padding: 0.75rem;
}
.pd-4 {
  padding: 1rem;
}
.pd-5 {
  padding: 1.25rem;
}
.pd-6 {
  padding: 1.5rem;
}
.pd-7 {
  padding: 1.75rem;
}
.pd-8 {
  padding: 2rem;
}
.pd-9 {
  padding: 2.25rem;
}
.pd-10 {
  padding: 2.5rem;
}
.pd-11 {
  padding: 2.75rem;
}
.pd-12 {
  padding: 3rem;
}
.pd-t-1 {
  padding-top: 0.25rem;
}
.pd-t-2 {
  padding-top: 0.5rem;
}
.pd-t-3 {
  padding-top: 0.75rem;
}
.pd-t-4 {
  padding-top: 1rem;
}
.pd-t-5 {
  padding-top: 1.25rem;
}
.pd-t-6 {
  padding-top: 1.5rem;
}
.pd-t-7 {
  padding-top: 1.75rem;
}
.pd-t-8 {
  padding-top: 2rem;
}
.pd-t-9 {
  padding-top: 2.25rem;
}
.pd-t-10 {
  padding-top: 2.5rem;
}
.pd-t-11 {
  padding-top: 2.75rem;
}
.pd-t-12 {
  padding-top: 3rem;
}
.pd-b-1 {
  padding-bottom: 0.25rem;
}
.pd-b-2 {
  padding-bottom: 0.5rem;
}
.pd-b-3 {
  padding-bottom: 0.75rem;
}
.pd-b-4 {
  padding-bottom: 1rem;
}
.pd-b-5 {
  padding-bottom: 1.25rem;
}
.pd-b-6 {
  padding-bottom: 1.5rem;
}
.pd-b-7 {
  padding-bottom: 1.75rem;
}
.pd-b-8 {
  padding-bottom: 2rem;
}
.pd-b-9 {
  padding-bottom: 2.25rem;
}
.pd-b-10 {
  padding-bottom: 2.5rem;
}
.pd-b-11 {
  padding-bottom: 2.75rem;
}
.pd-b-12 {
  padding-bottom: 3rem;
}
.pd-r-1 {
  padding-right: 0.25rem;
}
.pd-r-2 {
  padding-right: 0.5rem;
}
.pd-r-3 {
  padding-right: 0.75rem;
}
.pd-r-4 {
  padding-right: 1rem;
}
.pd-r-5 {
  padding-right: 1.25rem;
}
.pd-r-6 {
  padding-right: 1.5rem;
}
.pd-r-7 {
  padding-right: 1.75rem;
}
.pd-r-8 {
  padding-right: 2rem;
}
.pd-r-9 {
  padding-right: 2.25rem;
}
.pd-r-10 {
  padding-right: 2.5rem;
}
.pd-r-11 {
  padding-right: 2.75rem;
}
.pd-r-12 {
  padding-right: 3rem;
}
.pd-l-1 {
  padding-left: 0.25rem;
}
.pd-l-2 {
  padding-left: 0.5rem;
}
.pd-l-3 {
  padding-left: 0.75rem;
}
.pd-l-4 {
  padding-left: 1rem;
}
.pd-l-5 {
  padding-left: 1.25rem;
}
.pd-l-6 {
  padding-left: 1.5rem;
}
.pd-l-7 {
  padding-left: 1.75rem;
}
.pd-l-8 {
  padding-left: 2rem;
}
.pd-l-9 {
  padding-left: 2.25rem;
}
.pd-l-10 {
  padding-left: 2.5rem;
}
.pd-l-11 {
  padding-left: 2.75rem;
}
.pd-l-12 {
  padding-left: 3rem;
}

.mr-1 {
  margin: 0.25rem;
}
.mr-2 {
  margin: 0.5rem;
}
.mr-3 {
  margin: 0.75rem;
}
.mr-4 {
  margin: 1rem;
}
.mr-5 {
  margin: 1.25rem;
}
.mr-6 {
  margin: 1.5rem;
}
.mr-7 {
  margin: 1.75rem;
}
.mr-8 {
  margin: 2rem;
}
.mr-9 {
  margin: 2.25rem;
}
.mr-10 {
  margin: 2.5rem;
}
.mr-11 {
  margin: 2.75rem;
}
.mr-12 {
  margin: 3rem;
}
.mr-t-1 {
  margin-top: 0.25rem;
}
.mr-t-2 {
  margin-top: 0.5rem;
}
.mr-t-3 {
  margin-top: 0.75rem;
}
.mr-t-4 {
  margin-top: 1rem;
}
.mr-t-5 {
  margin-top: 1.25rem;
}
.mr-t-6 {
  margin-top: 1.5rem;
}
.mr-t-7 {
  margin-top: 1.75rem;
}
.mr-t-8 {
  margin-top: 2rem;
}
.mr-t-9 {
  margin-top: 2.25rem;
}
.mr-t-10 {
  margin-top: 2.5rem;
}
.mr-t-11 {
  margin-top: 2.75rem;
}
.mr-t-12 {
  margin-top: 3rem;
}
.mr-b-1 {
  margin-bottom: 0.25rem;
}
.mr-b-2 {
  margin-bottom: 0.5rem;
}
.mr-b-3 {
  margin-bottom: 0.75rem;
}
.mr-b-4 {
  margin-bottom: 1rem;
}
.mr-b-5 {
  margin-bottom: 1.25rem;
}
.mr-b-6 {
  margin-bottom: 1.5rem;
}
.mr-b-7 {
  margin-bottom: 1.75rem;
}
.mr-b-8 {
  margin-bottom: 2rem;
}
.mr-b-9 {
  margin-bottom: 2.25rem;
}
.mr-b-10 {
  margin-bottom: 2.5rem;
}
.mr-b-11 {
  margin-bottom: 2.75rem;
}
.mr-b-12 {
  margin-bottom: 3rem;
}
.mr-r-1 {
  margin-right: 0.25rem;
}
.mr-r-2 {
  margin-right: 0.5rem;
}
.mr-r-3 {
  margin-right: 0.75rem;
}
.mr-r-4 {
  margin-right: 1rem;
}
.mr-r-5 {
  margin-right: 1.25rem;
}
.mr-r-6 {
  margin-right: 1.5rem;
}
.mr-r-7 {
  margin-right: 1.75rem;
}
.mr-r-8 {
  margin-right: 2rem;
}
.mr-r-9 {
  margin-right: 2.25rem;
}
.mr-r-10 {
  margin-right: 2.5rem;
}
.mr-r-11 {
  margin-right: 2.75rem;
}
.mr-r-12 {
  margin-right: 3rem;
}
.mr-l-1 {
  margin-left: 0.25rem;
}
.mr-l-2 {
  margin-left: 0.5rem;
}
.mr-l-3 {
  margin-left: 0.75rem;
}
.mr-l-4 {
  margin-left: 1rem;
}
.mr-l-5 {
  margin-left: 1.25rem;
}
.mr-l-6 {
  margin-left: 1.5rem;
}
.mr-l-7 {
  margin-left: 1.75rem;
}
.mr-l-8 {
  margin-left: 2rem;
}
.mr-l-9 {
  margin-left: 2.25rem;
}
.mr-l-10 {
  margin-left: 2.5rem;
}
.mr-l-11 {
  margin-left: 2.75rem;
}
.mr-l-12 {
  margin-left: 3rem;
}

/*
    Easy Sizing
*/
.size-w-1 {
  width: 1rem;
}
.size-w-2 {
  width: 2rem;
}
.size-w-3 {
  width: 3rem;
}
.size-w-4 {
  width: 4rem;
}
.size-w-5 {
  width: 5rem;
}
.size-w-6 {
  width: 6rem;
}
.size-w-7 {
  width: 7rem;
}
.size-w-8 {
  width: 8rem;
}
.size-w-9 {
  width: 9rem;
}
.size-w-10 {
  width: 10rem;
}
.size-w-11 {
  width: 11rem;
}
.size-w-12 {
  width: 12rem;
}
.size-w-full {
  width: 100%;
}
.size-w-half {
  width: 50%;
}
.size-w-third {
  width: 33%;
}
.size-h-1 {
  height: 1rem;
}
.size-h-2 {
  height: 2rem;
}
.size-h-3 {
  height: 3rem;
}
.size-h-4 {
  height: 4rem;
}
.size-h-5 {
  height: 5rem;
}
.size-h-6 {
  height: 6rem;
}
.size-h-7 {
  height: 7rem;
}
.size-h-8 {
  height: 8rem;
}
.size-h-9 {
  height: 9rem;
}
.size-h-10 {
  height: 10rem;
}
.size-h-11 {
  height: 11rem;
}
.size-h-12 {
  height: 12rem;
}
.size-h-full {
  height: 100%;
}
.size-h-half {
  height: 50%;
}
.size-h-third {
  height: 33%;
}

.font-s-1 {
  font-size: 1rem;
  line-height: 1.25rem;
}
.font-s-2 {
  font-size: 2rem;
  line-height: 2.25rem;
}
.font-s-3 {
  font-size: 3rem;
  line-height: 3.25rem;
}
.font-s-4 {
  font-size: 4rem;
  line-height: 4.25rem;
}
.font-s-5 {
  font-size: 5rem;
  line-height: 5.25rem;
}
.font-s-6 {
  font-size: 6rem;
  line-height: 6.25rem;
}

/*
    Effects
*/
.fx-float {
  position: absolute;
}
.fx-rise {
  position: fixed;
  opacity: 1;
  z-index: -1;
}
.fx-rise--1 {
  width: rem;
  transition: bottom 25s linear, opacity 20s linear;
}
.fx-rise--2 {
  width: rem;
  transition: bottom 50s linear, opacity 40s linear;
}
.fx-rise--3 {
  width: rem;
  transition: bottom 75s linear, opacity 60s linear;
}
.fx-rise--4 {
  width: rem;
  transition: bottom 100s linear, opacity 80s linear;
}
.fx-rise--5 {
  width: rem;
  transition: bottom 125s linear, opacity 100s linear;
}
.fx-rise--6 {
  width: rem;
  transition: bottom 150s linear, opacity 120s linear;
}
.fx-rise--7 {
  width: rem;
  transition: bottom 175s linear, opacity 140s linear;
}
.fx-rise--8 {
  width: rem;
  transition: bottom 200s linear, opacity 160s linear;
}
.fx-rise--9 {
  width: rem;
  transition: bottom 225s linear, opacity 180s linear;
}
.fx-rise--10 {
  width: rem;
  transition: bottom 250s linear, opacity 200s linear;
}
.fx-circle {
  border-radius: 50%;
  border: var(--color-white) 2px solid;
}

form {
  width: 100%;
  margin: 5rem 0;
  max-width: 700px;
  display: inline-block;
}
form .form-group {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
form .form-input {
  flex: 1;
  position: relative;
  font-size: 1rem;
}
form .form-input:first-child {
  margin-right: 0.5rem;
}
form .form-input:last-child {
  margin-left: 0.5rem;
}
form .form-input input {
  width: calc(100% - 2rem);
  outline: none;
  border: var(--color-white) 2px solid;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background-color: var(--color-black);
}
form .form-input label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  transition: 400ms ease;
  opacity: 1;
  font-weight: 300;
  text-transform: lowercase;
}
form .form-input input:focus ~ label {
  left: 5rem;
  opacity: 0;
}
form .form-input input:valid ~ label {
  left: 5rem;
  opacity: 0;
}
form .button {
  padding: 0.5rem 2rem;
}
form .button:last-child {
  margin-left: 1rem;
}

.filters {
  padding: 0 2rem;
  flex: 1;
  display: flex;
}
.filters .filter {
  position: relative;
  text-align: left;
  margin: 0 0.5rem;
}
.filters .filter * {
  display: block;
}
.filters .filter label {
  font-weight: 600;
  margin-left: 0.75rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.filters .filter select, .filters .filter input {
  padding: 0.25rem 0.75rem;
  outline: none;
  min-width: 180px;
  border: 2px solid var(--color-black);
  border-radius: 1.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}
.filters .filter .select-custom-arrow ~ select {
  appearance: none;
}
.filters .filter .select-custom-arrow {
  position: absolute;
  right: 1.5rem;
  bottom: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
}
.filters .filter .select-custom-arrow svg {
  max-width: 100%;
  max-height: 100%;
}
.filters .filter .select-custom-arrow svg g line {
  fill: none;
  stroke: var(--color-black);
  stroke-linecap: round;
  stroke-width: 2px;
}
.filters .filter--invalid select, .filters .filter--invalid input {
  border: 2px var(--color-pink-dark) solid;
  color: var(--color-pink-dark);
}
.filters .filter--invalid .select-custom-arrow svg g line {
  stroke: var(--color-pink-dark);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 400px;
  max-width: 100%;
}
.grid--gap-1 {
  gap: 0.25rem;
}
.grid--gap-2 {
  gap: 0.5rem;
}
.grid--gap-3 {
  gap: 0.75rem;
}
.grid--gap-4 {
  gap: 1rem;
}
.grid--gap-5 {
  gap: 1.25rem;
}
.grid--gap-6 {
  gap: 1.5rem;
}
.grid--gap-7 {
  gap: 1.75rem;
}
.grid--gap-8 {
  gap: 2rem;
}
.grid--gap-9 {
  gap: 2.25rem;
}
.grid--gap-10 {
  gap: 2.5rem;
}
.grid--gap-11 {
  gap: 2.75rem;
}
.grid--gap-12 {
  gap: 3rem;
}

.grid-item {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-item span {
  padding: 0.5rem;
  cursor: pointer;
}

.grid-span-x-1 {
  grid-column: span 1;
}
.grid-span-x-2 {
  grid-column: span 2;
}
.grid-span-x-3 {
  grid-column: span 3;
}
.grid-span-x-4 {
  grid-column: span 4;
}
.grid-span-y-1 {
  grid-row: span 1;
}
.grid-span-y-2 {
  grid-row: span 2;
}
.grid-span-y-3 {
  grid-row: span 3;
}
.grid-span-y-4 {
  grid-row: span 4;
}

.control-bar {
  max-width: 100%;
  height: 64px;
  padding: 0.5rem 2rem;
  border-radius: 2.5rem;
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}
.control-bar .live-sign {
  font-size: 2rem;
  color: var(--color-pink-dark);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.control-bar .live-sign .live-dot {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  animation-name: blink;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 1rem;
  border: var(--color-pink-dark) 2px solid;
  background-color: var(--color-pink-dark);
}
.control-bar .refresh {
  justify-self: flex-end;
  cursor: pointer;
}
.control-bar .refresh #refresh-btn-image {
  transition: transform 800ms ease-in-out;
}

.action-buttons {
  padding: 2.5rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.action-buttons .button, .action-buttons .link {
  min-width: 150px;
}
.action-buttons .button {
  padding: 0.5rem 1rem;
}

.information {
  min-height: 300px;
  margin: 10rem 0;
  width: 100%;
}
.information .text {
  font-size: 1rem;
  text-align: left;
  margin: 2rem 1rem;
  max-width: 800px;
}

.social {
  min-height: 100px;
  padding: 2rem 0 0;
}
.social .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.social .icons .icon {
  margin: 0 1rem;
  cursor: pointer;
}
.social .icons .icon svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  stroke: var(--color-white);
}
.social .icons .icon:hover svg {
  stroke: var(--color-pink-dark);
}

.logo-reveal {
  width: 100%;
  padding: 10vh 0 0;
}
.logo-reveal .logo {
  width: 100%;
  max-width: 500px;
  display: inline-block;
}
.logo-reveal .logo svg {
  width: 100%;
  height: auto;
}
.logo-reveal .logo svg * {
  transition: 200ms ease;
}
.logo-reveal .logo svg path:hover {
  fill: var(--color-green);
}
.logo-reveal .logo svg path:hover ~ path {
  fill: var(--color-green);
}
.logo-reveal .logo svg .stroke-animate:hover {
  stroke: var(--color-pink-dark);
}

@media only screen and (max-width: 680px) {
  .visual {
    min-height: 150px;
  }

  #exampleChart {
    min-height: 150px;
  }

  .title {
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center !important;
  }
  .title--small {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  form .form-group {
    flex-direction: column;
    justify-content: center;
  }
  form .form-input {
    min-width: 60vw;
  }
  form .form-input:first-child {
    margin: 0 0 0.5rem;
  }
  form .form-input:last-child {
    margin: 0.5rem 0 0;
  }
  form button {
    margin-left: 0 !important;
    margin: 0.5rem 0 0;
    min-width: 60vw;
    flex: 1;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .control-bar {
    height: 196px;
    flex-direction: column;
    border-radius: 16px;
  }
  .control-bar .live-sign {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  .control-bar .filters {
    flex-direction: column;
    padding: 0;
  }
  .control-bar .filters .filter {
    margin: 0;
  }
  .control-bar .filters .filter select, .control-bar .filters .filter input {
    width: 100%;
  }
  .control-bar .filters .filter input {
    width: 80%;
  }
  .control-bar .refresh a svg {
    max-width: 24px;
  }

  header {
    margin: 0 10vw;
  }
  header .action-buttons {
    flex-direction: column;
  }
  header .action-buttons a {
    padding: 1.5rem 0;
  }
  header .textdot {
    font-size: 2rem;
  }

  .currency-block {
    border-radius: 16px;
  }
  .currency-block .sign {
    border-radius: 8px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 680px) and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
  .title--small {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .control-bar {
    height: 96px;
  }
  .control-bar .filters {
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .control-bar {
    height: 96px;
  }
  .control-bar .filters {
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media only screen and (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(16, 1fr);
  }
}

/*# sourceMappingURL=app.css.map */
