/*
    Defaults
*/
.title {
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 0 0;

    &--small {
        font-size: 2rem;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

div {
    &.green {
        background-color: var(--color-green);
    }

    &.pink {
        background-color: var(--color-pink-dark);
    }

    &.white {
        background-color: var(--color-white);
    }

    &.black {
        background-color: var(--color-black);
    }
}

p, b, a, i, h1, h2, h3, h4, h5, h6, span {
    &.green {
        color: var(--color-green);
    }

    &.pink {
        color: var(--color-pink-dark);
    }

    &.white {
        color: var(--color-white);
    }
    
    &.black {
        color: var(--color-black);
    }

    &.regular {
        font-weight: 400;
    }

    &.bold {
        font-weight: 700;
    }

    &.light {
        font-weight: 300;
    }

    &.semibold {
        font-weight: 600;
    }
    
    &.uppercase {
        text-transform: uppercase;
    }

    &.lowercase {
        text-transform: lowercase;
    }
}


.pd {
    @for $i from 1 through 12 {
        &-#{$i} {
            padding: #{$i * 0.25}rem;
        }
    }

    &-t {
        @for $i from 1 through 12 {
            &-#{$i} {
                padding-top: #{$i * 0.25}rem;
            }
        }
    }

    &-b {
        @for $i from 1 through 12 {
            &-#{$i} {
                padding-bottom: #{$i * 0.25}rem;
            }
        }
    }

    &-r {
        @for $i from 1 through 12 {
            &-#{$i} {
                padding-right: #{$i * 0.25}rem;
            }
        }
    }

    &-l {
        @for $i from 1 through 12 {
            &-#{$i} {
                padding-left: #{$i * 0.25}rem;
            }
        }
    }
}

.mr {
    @for $i from 1 through 12 {
        &-#{$i} {
            margin: #{$i * 0.25}rem;
        }
    }

    &-t {
        @for $i from 1 through 12 {
            &-#{$i} {
                margin-top: #{$i * 0.25}rem;
            }
        }
    }

    &-b {
        @for $i from 1 through 12 {
            &-#{$i} {
                margin-bottom: #{$i * 0.25}rem;
            }
        }
    }

    &-r {
        @for $i from 1 through 12 {
            &-#{$i} {
                margin-right: #{$i * 0.25}rem;
            }
        }
    }

    &-l {
        @for $i from 1 through 12 {
            &-#{$i} {
                margin-left: #{$i * 0.25}rem;
            }
        }
    }
}